* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    background-color: #15141A;
    color: white;
  }

header {
    background-color: #15141A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 8rem;
}
header img {
    width: 120px;
    height: 120px;
    margin: 10px;
}
nav ul {
    list-style: none;
}

nav ul li {
    display: inline-flex;
    gap: 2rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #333;
}

.main-content {
    height: fit-content;
    width: 100%;
}
.banner{
    width: 100%;
    height: 75vh;
    display: flex;
    align-items: end;
}
.main-content .banner img{
    width: 100%;
}
.menu{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.menu ul{
  list-style: none;
}
.menu .title{
    width: 30%;
    padding: 4rem 0;
}
.card-container {
    display: flex;
    gap: 2rem;
  }
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 2px solid transparent;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s;
    background-color: transparent;
  }
.card:active {
  transform: scale(1.1);
}
.card:hover{
  transform: scale(1.1);
}
.card {
    position: relative;
    background-image: url("./img/Card.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 25rem;
    height: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 1rem;
    color: white;
    text-align: center;
  }
.card img{
    width: 13rem;
    height: 10rem;
    margin-bottom: 1rem;
}
.card h1 {
    margin: 1rem 0;
    font-size: 1.5rem;
    font-weight: bold;
  }

.about {
    background-image: url("./img/about-bg.png");
    position: relative;
    height: 48rem;
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.about::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(14, 1, 1, 0.80) 0%, rgba(255, 255, 255, 0.50) 100%);
    opacity: 0.5;
}
.about h1 {
    font-size: 4rem;
    z-index: 1;
    color: white;
}
.about p {
    font-size: 1.5rem;
    z-index: 1;
    color: white;
    text-align: center;
    max-width: 80%;
}
.coa{
  width: 100%;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.coa .button{
  padding: 10px 20px;
  font-size: 2rem;
  background-color: #262626;
  border: #BA1111 0.3rem solid;
  color: white;
  border-radius: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none;
}
.coa .button:hover{
  transform: scale(1.1);
}
.reservation {
    max-width: 100%;
    padding: 4rem 0;
    text-align: center;
}

.reservation h1 {
    font-size: 4rem;
    font-weight: bold;
    padding: 4rem 0;
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #262626;
    border-top: #FE0000 0.8rem solid;
    border-bottom: #FE0000 0.8rem solid;
    padding: 3rem 0;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 60%;
    gap: 2rem;

}
.form-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: start;
    width: 100%;
}


label {
    font-size: 1rem;
    color: #fff;
    font-weight: bold;
    font-size: large;

}

input[type="text"],
input[type="number"] {
    padding: 10px;
    font-size: 1rem;
    border-radius: 1rem;
    border: none;
    width: 100%;
    background: #15141A;
    color: white;
}

.reservation button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #262626;
    border: #BA1111 0.3rem solid;
    color: white;
    border-radius: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.reservation button:hover {
    background-color: #FE0000;
}

.branding{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem;
}
  .footer {
    background-color: #ED7D31;
    color: #1E1E1E;
    padding: 3rem 8rem;
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
  }
  .footer-container {
    display: flex;
    align-items: start;
    gap: 8rem;
  }
  .tags-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
  }

  .tags {
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .menu-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 0 8rem;
    border-top: #BA1111 0.8rem solid;
    border-bottom: #BA1111 0.8rem solid;
    margin-top: 1rem;
  }
  .menu-content .legends{
    width: 100%;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(5, 1fr);
    justify-content:start;
    align-items: center;
    padding: 2rem;
  }
  .main-content .legends .flavor{
    display: flex;
    justify-content: center;
  }
  .main-content .wings{
    grid-column: span 2 / span 2; 
    display: flex;
    justify-content: center;
  }
  .main-content .img{
    grid-column: span 2 / span 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .main-content .prices{
    grid-column: span 2 / span 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .content{
    width: 100%;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(5, 1fr);
    justify-content:start;
    align-items: start;
    padding: 2rem;
  }
  .content ul{
    list-style: none;
    border-right: #fff 0.1rem solid;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .content ul li{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: large;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    border: 0;
    color: #fff;
    display: grid;
    grid-template-rows: repeat(12, minmax(0, 1fr));

}
thead{
    grid-row: span 1 / span 1;
    width: 100%;
    text-align: center; 
    
    
}
tbody{
    width: 100%;
    grid-row: span 11 / span 11;
    display: grid;
    grid-template-rows: repeat(11, minmax(0, 1fr));

}
th, td {
    padding: 10px;  
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
td {
    font-size: large;
    font-weight: bold;
}
th {
    font-size: normal;
    font-weight: bold;
}
tr{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.two-legends{
    width: 100%;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(5, 1fr);
    justify-content:start;
    align-items: center;
    padding: 2rem;
}
.two-content{
  width: 100%;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(5, 1fr);
  justify-content:start;
  align-items: start;
  padding: 2rem;
}
.two-content img{
  grid-column: span 2 / span 2;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.two-content .flavor{
  list-style: none;
  border-right: #fff 0.1rem solid;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 8rem 0;
}
.two-content .prices{
  grid-column: span 2 / span 2;
  list-style: none;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 8rem 0;
}
.two-content ul li{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: large;
}
.two-content .drinks{
  grid-column: span 2 / span 2;
  list-style: none;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-right: #fff 0.1rem solid;
}
.two-content .drinks-prices{
  list-style: none;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}